.zaplib_canvas {
    position: absolute; /* For z-index */
    top: 0;
    left: 0;
    /* Max value to be super sure that it really is on top of everything, in case JS creates elements outside of #js-root */
    z-index: 2147483647;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    touch-action: pan-x pan-y; /* Mobile Safari doesn't support "none" */
}

textarea.zaplib_textarea {
    z-index: 1000;
    position: absolute;
    opacity: 0;
    border-radius: 4px;
    color:white;
    font-size: 6;
    background: gray;
    -moz-appearance: none;
    appearance:none;
    border:none;
    resize: none;
    outline: none;
    overflow: hidden;
    text-indent: 0px;
    padding: 0 0px;
    margin: 0 -1px;
    text-indent: 0px;
    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    white-space: pre!important;
}
textarea:focus.zaplib_textarea {
    outline: 0px !important;
    -webkit-appearance: none;
}
